.Reqeust{
    display: flex;
    align-items: center;
    width: 100%;
    &__text{
        margin: 0 2rem;
        margin-right: auto;
        font-size: 1.5rem;
    }
    img{
        margin-right: 2rem;
    }
    button{
        svg{
            color: $h-color;
            font-weight: 500;
            height: 20px;
            width: 20px;
            &:hover{
                color: rgba(255, 255, 255, 0.5);
            }
            
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 1rem;
        border: none;
        padding: .5rem .5rem;
        border-radius: 50px;
        background: linear-gradient(-135deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.4) 100%);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 32px 0px;
        
    }
    button:disabled{
        background: linear-gradient(-135deg, rgba(167, 167, 167, 0.1) 25%, rgba(126, 126, 126, 0.4) 100%);
        svg{
            color: rgba(255, 255, 255, 0.1);
            &:hover{
                color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

@media(max-width:650px){
    .Reqeust{
    &__text{
        margin: 0 1rem;
        margin-right: auto;
        font-size: 1.3rem;
    }
    img{
        margin-right: 1rem;
    }
    button{
        font-size: .8rem;
        margin-left: 1rem;
        padding: .2rem;
        font-weight: 600;
    }
    }
}