.profile{
    height: calc(100vh - #{$header_Height} - 1px );
    display: flex;
    flex-direction: column;
    align-items: center;
    &__picture{
        position: relative;
        margin-top: 5rem;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: medium solid $white-color;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__veil{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 200px;
            width: 200px;
            background: rgba(0, 0, 0, 0.0);
            color: rgba(0, 0, 0, 0.0);
            font-weight: 700;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__span{
            width: 5rem;
            height: 5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            font-weight: 600;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50px;
        }
        &__veil:hover{
            background: linear-gradient(0, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.0) 90%);
            color: $white-color;
        }
        & img{
            width: 120%;
        }
        
    }

    &__name{
        border-top: 1px solid $h-color;
        width: 30%;
        text-align: center;
    }

    &__buttons{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        button{
            border: none;
            margin: 0;
            padding: .5rem .5rem;
            font-weight: 700;
            font-size: 1rem;
            margin: 0 1rem;
            background: $white-color;
            color: $p-color;
        }

    }
}