//colors 

// $bg-color:#242526;
$bg-color: rgba(255, 255, 255, 0.05);
$fg-color:#242526;
$white-color:#F3F3F4;
$p-color:white;
$s-color:#e6e6e6;
$h-color:white;

//font sizes 

$font-size : 16px;

// heights 

$header_Height : 60px;

